.searchInput{
	float:left;
	width:187px;
}
.searchBtn{
	float:left;
	width:100px;
}
.btnSearch{
	width:80px;
	height:30px
}
.searchArea{
	padding-bottom:2px;
}
.addUserBtn{
	text-align:right;
}
#cateIconArea{
	width:100%;
	height:200px;
	overflow: scroll;
}
.exampleIcon{
	font-size:25px;
}
.classExColor{
	height: 34px;
    width: 34px;
	background:white;
	margin-left:3px;
}
.textColor{
	float:left;
	width:200px;
}
.exColor{
	float:left;
	width:50px;
}