.checkboxArea{
	float:left;
	wdith:50px;
}
.labelArea{
	float:left;
	width:150px;
	text-align:left;
	margin-left:3px;
}
.reasonRows{
	height:25px;
}
.object-right{
	text-align:right;
}
.rowLogin{
	height:22px;
}

.rowLogin .labelLoginLabel{
	width:100px;
	float:left;
	text-align:right;
	padding-top:5px;
	padding-right:5px;
}
.rowLogin .labelLoginText{
	width:300px;
	float:left;
}
.wellcomeTitle{
	margin-top:5px;	
	padding:5px;
}
.middle-box {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 10px;
    z-index: 100;
}

