/* Large desktop */
@media (min-width: 1200px) { 
	
	#leftTitle{
	text-align:right;
	}

 }
 /*  desktop */
@media (min-width: 980px) and (max-width: 1199px) {
	#leftTitle{
	text-align:left;
	}	
		
 }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#leftTitle{
	text-align:left;
	}
	
 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
 	
 	#leftTitle{
	text-align:left;
	}
 }
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	#leftTitle{
	text-align:left;
	}
	
 }
     



body{
	background:	white;
}
.ibox-title{
	background:	#d7e9f0;
	border-radius: 5px 5px 0 0;
	padding:25px;
	font-size:18px;
}
.ibox-content {
    border-bottom: 1px solid #d7e9f0;
    border-left: 1px solid #d7e9f0;
    border-right: 1px solid #d7e9f0;
    clear: both;
}
.headerContent{
	padding-top:5px;
}
.titleIcon{
	color:#1157ad;
	font-size:25px;
}
.titleIcon1{
	color:#1157ad;
	font-size:25px;
}
.titleIcon2{
	color:#1157ad;
	font-size:25px;
}
.titleIcon3{
	color:#1157ad;
	font-size:25px;
}
.titleIcon4{
	color:#1157ad;
	font-size:25px;
}
.titleIcon5{
	color:#1157ad;
	font-size:25px;
}
.titleIconGreen{
	color:green;
}
.btn-admin{
	padding:25px;
	font-size:18px;
	background:	#1157ad;
	text-align:left;
	color:white;
	border-radius: 7px;
	
}
.folder-list li i{
	color: green;
}
.ibox-tools a{
	color: #1157ad;
}
.collapse-link{
	color:#1157ad;
}
.iconHeader{
	font-size:45px;
	padding-top: 5px;
}
.panelCustom > .ibox-content{
	display:none;
}
.fontIcon{
	font-size:24px;
	color:white
}
.btn-circle {
    border-radius: 100%;
    font-size: 12px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 40px;
}
.btn-circle.btn-lg{
	border-radius: 100%;
    font-size: 18px;
    height: 80px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 80px;
}
.ibox-title h5{
	font-size: 15px;
	font-weight: normal;
}
.text-right{
	text-align:right;
}
.display{
	display:none;
}
.fontLogo{
	font-weight:bold;
}
.panelHide{
	display:none;
}
.panelDisable{
	/*background:#dddddd;*/
	cursor:default;
	z-index:99;
}
.panelShow{
	display:'';
}
.contentCate{
	/*
	float: right;
    padding: 5px;
    position: absolute;
    width: 77%;
    */
     float: right;
    height: 40px;
    padding: 5px 5px 5px 7px;
    position: absolute;
    width: 77%;
    
}
.contentIcon{
	float: right;
    height: 40px;
    width:50px;
}
.ibox-title{
	 background: #d7e9f0 none repeat scroll 0 0;
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    height: 60px;
    padding-top: 7px;
}
.titleClicked{
	background:#1157ad none repeat scroll 0 0;
	color:white;
	 border-radius: 5px 5px 0px 0px;
}
.fontWhite{
	
	color:white;
}
.fontBlue{
	color:#1157ad;

}
.fontIconRight{
	margin-top: 11px;

}
.folder-list li a:hover{
	color:red;
}
.ibox-title2 {
    background: #d7e9f0 none repeat scroll 0 0;
    border-radius: 5px;
    font-size: 18px;
    height: 60px;
    padding-top: 7px;
    padding-left: 25px;
}
.ibox {
    clear: both;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 0;
}
